<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<%if @height > 72%>
	<h1 class="green">Tall enough</h1>
<%else%>
	<h1 class="red">Not tall enough</h1>
<%end%>

<%@array.each do |value|%>
<%=value5%>

<br>

<%
end
%>